.header
  position fixed
  top 0
  left 0
  right 0
  z-index 100
  opacity 0.9
  animation active 1s
  @keyframes active
    0% {transform: translateY(-100%)}
    100% {transform: translateY(0)}
.header-warp
  width 100%
  min-width 1251px
  border-bottom 1px solid #e5e5e5
  background-color #ffffff

  .header-nav
    width 85%
    height 70px
    margin 0 auto
    display flex
    justify-content space-between
    align-items center
    font 16px latoregular, Verdana, sans-serif
  .right
    width 70%
    display flex
    justify-content space-between
    & ul li:last-child a
      text-align center
      display inline-block
      border-radius 10px
      width 76px
      height 28px
      background-color red
      color white
      padding-top 5px
    >a :nth-child(3)
      color red
    .nav-left
      color #000
      >span
        font-weight bold
        font-style normal
    .nav-right
      white-space nowrap
      >li
        display inline-block
        margin 0 10px
        >a
          color black
          font-weight bold
.Swiper-warp
  position relative
 & .swiper-container
    .swiper-wrapper
      .swiper-slide
        >img
          position relative
          left -300px
  .Menu-wrap
    width 180px
    height 419px
    background-color #60646D
    position absolute
    top 0
    left 8%
    text-align center
    z-index 5
    .Menu>li
      color white
      padding-top 20px
      height 20px
      & a
        color white
        position relative
        & .right1
            position absolute
            top 8px
            right 3px
        & .icon1
            position absolute
            top 8px
            right -40px
            display none
        & span
          display inline-block
          margin-right 20px
    .two-menu
      width 180px
      height 426px
      opacity .8
      display none
      background-color #ffffff
      position relative
      left 100%

      &>li
        padding-top  20px
        & a
          font-weight 500
          color black


.navigation
  margin-left 50px
  width 90%
  text-align center
  background-color white
  & .wrap-top
    & h1
      font-weight bold
      font-size 28px
      padding 50px 0 20px 0
    & span
      display block
      min-width 1000px
      & a
        color #3d3838
        font-size 20px
  & .lookMore a
    position relative
    top -25px
    right -550px
  & .ServiceBorder
    display flex
    justify-content space-around
    & a
      text-align left
      box-sizing border-box
      border 1px solid #eaeaea
      padding 5px
      width 18%
      line-height 20px
      & h3
        font-size 20px
        font-weight bold
        color black
        margin 5px 0
      & p
        margin-bottom 10px
        color #929292
        font-size 14px
      & img
        width 190px
        height 190px
        margin-left 15px
      & div
        font-size 14px
        color red
        & span:nth-child(1)
          font-size 20px
        & span:nth-child(2)
          text-align center
          float right
          width 76px
          height 24px
          background-color #fb474f
          color white
          border-radius 5px
          line-height 22px

.baozhang-warp
  .baozhang
    text-align center
    padding-top 50px
    background-color white
    & h2
      font-size 30px
      font-weight 800
      font-family "微软雅黑"
      margin 15px
      & span
        font-weight 800
        color red
    & p
      font-size 22px
      color #3d3838
      margin-bottom 10px
    & ul li
      display inline-block
      color #1d1515
      font-size 18px
  .city
    background-color white
    padding-top 60px
    & span
      font-size 20px
      font-weight 700
    & ul
      display flex
      margin-left 100px
      margin-bottom 10px
      padding-bottom 20px
      justify-content space-around
  .partners
    padding-top 60px
    & span
      font-size 20px
      font-weight 700
    & ul
      display flex
      margin-left 100px
      margin-bottom 30px
      justify-content space-around
      text-align center
      & li
        width 10%
        height 60px
        background-color white
        padding 6px 0
        box-sizing border-box
      & img
        width 100px
    & p
      text-align center
      font-size 14px
