#header
  width 100%
  min-width 1251px
  border-bottom 1px solid #e5e5e5
  background-color #ffffff
  opacity 0.9
  position fixed
  top 0
  left 0
  right 0
  z-index 100
  .header-nav
    width 85%
    height 70px
    margin 0 auto
    display flex
    justify-content space-between
    align-items center
    font 16px latoregular, Verdana, sans-serif
  .right
    width 70%
    display flex
    justify-content space-between
    & ul li:last-child a
      text-align center
      display inline-block
      border-radius 10px
      width 76px
      height 28px
      background-color red
      color white
      padding-top 5px
    >a :nth-child(3)
      color red
    .nav-left
      color #000
      >span
        font-weight bold
        font-style normal
    .nav-right
      white-space nowrap
      >li
        display inline-block
        margin 0 10px
        >a
          color black
          font-weight bold
.warp
  margin-top 71px
  & .nav h2
    display block
    line-height 85px
    & a
      color black
      font-weight 700
  & .content-warp
    width 80%
    display flex
    justify-content center

  & .centerleft-right
    width 230px
    background-color white
    border 1px solid #e5e5e5
    & .right-top
      height 356px
      & h3
        line-height 60px
        height 60px
        font-size 20px
        font-weight 700
        padding-left 10px
        border-bottom  1px solid #e5e5e5
      & img
        text-align center
        margin 40px 75px
        margin-bottom 10px
        width 80px
      & span
        text-align center
        display inline-block
        width 228px
        height 36px
        font-weight bold
      & p
        display flex
        margin 15px 10px
        justify-content space-between
        color red
    & .right-under
        background-image url('./images/fuwu/tuijianfuwushang_06.jpg')