.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  opacity: 0.9;
  animation: active 1s;
}
@-moz-keyframes active {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes active {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@-o-keyframes active {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes active {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.header-warp {
  width: 100%;
  min-width: 1251px;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff;
}
.header-warp .header-nav {
  width: 85%;
  height: 70px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: 16px latoregular, Verdana, sans-serif;
}
.header-warp .right {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.header-warp .right ul li:last-child a {
  text-align: center;
  display: inline-block;
  border-radius: 10px;
  width: 76px;
  height: 28px;
  background-color: #f00;
  color: #fff;
  padding-top: 5px;
}
.header-warp .right >a :nth-child(3) {
  color: #f00;
}
.header-warp .right .nav-left {
  color: #000;
}
.header-warp .right .nav-left >span {
  font-weight: bold;
  font-style: normal;
}
.header-warp .right .nav-right {
  white-space: nowrap;
}
.header-warp .right .nav-right >li {
  display: inline-block;
  margin: 0 10px;
}
.header-warp .right .nav-right >li >a {
  color: #000;
  font-weight: bold;
}
.header-warp .right .nav-right >li >a:hover {
  color: #f00;
}
.Swiper-warp {
  position: relative;
}
.swiper-container .swiper-wrapper .swiper-slide >img {
  position: relative;
  left: -300px;
}
.Menu-wrap {
  width: 180px;
  height: 419px;
  background-color: #60646d;
  position: absolute;
  top: 0;
  left: 8%;
  text-align: center;
  z-index: 5;
}
.Menu-wrap .Menu>li {
  color: #fff;
  padding-top: 20px;
  height: 20px;
}
.Menu-wrap .Menu>li a {
  color: #fff;
  position: relative;
}
.Menu-wrap .Menu>li a .right1 {
  position: absolute;
  top: 8px;
  right: 3px;
}
.Menu-wrap .Menu>li a .icon1 {
  position: absolute;
  top: 8px;
  right: -40px;
  display: none;
}
.Menu-wrap .Menu>li a span {
  display: inline-block;
  margin-right: 20px;
}
.Menu-wrap .two-menu {
  width: 180px;
  height: 426px;
  opacity: 0.8;
  display: none;
  background-color: #fff;
  position: relative;
  left: 100%;
}
.Menu-wrap .two-menu>li {
  padding-top: 20px;
}
.Menu-wrap .two-menu>li a {
  font-weight: 500;
  color: #000;
}
.navigation {
  margin-left: 50px;
  width: 90%;
  text-align: center;
  background-color: #fff;
}
.navigation .wrap-top h1 {
  font-weight: bold;
  font-size: 28px;
  padding: 50px 0 20px 0;
}
.navigation .wrap-top span {
  display: block;
  min-width: 1000px;
}
.navigation .wrap-top span a {
  color: #3d3838;
  font-size: 20px;
}
.navigation .lookMore a {
  position: relative;
  top: -25px;
  right: -550px;
}
.navigation .ServiceBorder {
  display: flex;
  justify-content: space-around;
}
.navigation .ServiceBorder a {
  text-align: left;
  box-sizing: border-box;
  border: 1px solid #eaeaea;
  padding: 5px;
  width: 18%;
  line-height: 20px;
}
.navigation .ServiceBorder a:hover {
  box-shadow: 5px 5px 10px #ccc;
}
.navigation .ServiceBorder a h3 {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  margin: 5px 0;
}
.navigation .ServiceBorder a p {
  margin-bottom: 10px;
  color: #929292;
  font-size: 14px;
}
.navigation .ServiceBorder a img {
  width: 190px;
  height: 190px;
  margin-left: 15px;
}
.navigation .ServiceBorder a div {
  font-size: 14px;
  color: #f00;
}
.navigation .ServiceBorder a div span:nth-child(1) {
  font-size: 20px;
}
.navigation .ServiceBorder a div span:nth-child(2) {
  text-align: center;
  float: right;
  width: 76px;
  height: 24px;
  background-color: #fb474f;
  color: #fff;
  border-radius: 5px;
  line-height: 22px;
}
.baozhang-warp .baozhang {
  text-align: center;
  padding-top: 50px;
  background-color: #fff;
}
.baozhang-warp .baozhang h2 {
  font-size: 30px;
  font-weight: 800;
  font-family: "微软雅黑";
  margin: 15px;
}
.baozhang-warp .baozhang h2 span {
  font-weight: 800;
  color: #f00;
}
.baozhang-warp .baozhang p {
  font-size: 22px;
  color: #3d3838;
  margin-bottom: 10px;
}
.baozhang-warp .baozhang ul li {
  display: inline-block;
  color: #1d1515;
  font-size: 18px;
}
.baozhang-warp .city {
  background-color: #fff;
  padding-top: 60px;
}
.baozhang-warp .city span {
  font-size: 20px;
  font-weight: 700;
}
.baozhang-warp .city ul {
  display: flex;
  margin-left: 100px;
  margin-bottom: 10px;
  padding-bottom: 20px;
  justify-content: space-around;
}
.baozhang-warp .partners {
  padding-top: 60px;
}
.baozhang-warp .partners span {
  font-size: 20px;
  font-weight: 700;
}
.baozhang-warp .partners ul {
  display: flex;
  margin-left: 100px;
  margin-bottom: 30px;
  justify-content: space-around;
  text-align: center;
}
.baozhang-warp .partners ul li {
  width: 10%;
  height: 60px;
  background-color: #fff;
  padding: 6px 0;
  box-sizing: border-box;
}
.baozhang-warp .partners ul img {
  width: 100px;
}
.baozhang-warp .partners p {
  text-align: center;
  font-size: 14px;
}
